<div class="panel">
    <div class="panel-heading">
        <h2 class="panel-title">Backup Status</h2>
    </div>

    <div>
        <p>The box makes an incremental backup each night. You can store the backup on any Amazon Web Services
            S3-compatible service, or other options.</p>

        <h3>Configuration</h3>

        <form id="backup-config-form" role="form">
            <div class="form-group">
                <label for="backup-target-type" class="form-label">Backup to:</label>
                <select class="form-control" id="backup-target-type">
                    <option value="off">Nowhere (Disable Backups)</option>
                    <option value="local">{{hostname}}</option>
                    <option value="rsync">rsync</option>
                    <option value="s3">S3 (Amazon or compatible)</option>
                    <option value="b2">Backblaze B2</option>
                </select>
            </div>

            <!-- LOCAL BACKUP -->
            <div class="form-group backup-target-local">
                <p>Backups are stored on this machine&rsquo;s own hard disk. You are responsible for periodically using
                    SFTP (FTP over SSH) to copy the backup files from <tt class="backup-location"></tt> to a safe
                    location. These files are encrypted, so they are safe to store anywhere.</p>
                <p>Separately copy the encryption password from <tt class="backup-encpassword-file"></tt> to a safe and
                    secure location. You will need this file to decrypt backup files.</p>
            </div>

            <!-- RSYNC BACKUP -->
            <div class="form-group backup-target-rsync">
                <p>Backups synced to a remote machine using rsync over SSH, with local copies in <tt
                    class="backup-location"></tt>. These files are encrypted, so they are safe to store anywhere.</p>
                <p>Separately copy the encryption password from <tt class="backup-encpassword-file"></tt> to a safe and
                    secure location. You will need this file to decrypt backup files.</p>
            </div>

            <div class="form-group backup-target-rsync">
                <label for="backup-target-rsync-host" class="form-label">Hostname</label>
                <input type="text" placeholder="hostname.local" class="form-control" id="backup-target-rsync-host">
                <div class="help-text">
                    The hostname at your rsync provider, e.g. <tt>da2327.rsync.net</tt>. Optionally includes a colon and
                    port number, e.g. <tt>u215843.your-storagebox.de:23</tt>.
                </div>
            </div>

            <div class="form-group backup-target-rsync">
                <label for="backup-target-rsync-path" class="form-label">Path</label>
                <input type="text" placeholder="/backups/{{hostname}}" class="form-control"
                       id="backup-target-rsync-path">
            </div>

            <div class="form-group backup-target-rsync">
                <label for="backup-target-rsync-user" class="form-label">Username</label>
                <input type="text" class="form-control" id="backup-target-rsync-user">
            </div>

            <div class="form-group backup-target-rsync">
                <label for="ssh-pub-key" class="form-label">Public SSH Key</label>
                <input type="text" class="form-control" id="ssh-pub-key" readonly>
                <div class="help-text">
                    Copy the Public SSH Key above, and paste it in <tt>~/.ssh/authorized_keys</tt> on the backup server.
                </div>
                <button type="button" id="copy-pub-key-btn" class="btn btn-sm">Copy</button>
            </div>

            <!-- S3 BACKUP -->
            <div class="form-group backup-target-s3">
                <p>Backups are stored in an S3-compatible bucket. You must have an account with AWS or other S3
                    service.</p>
                <p>You MUST manually copy the encryption password from <tt class="backup-encpassword-file"></tt> to a
                    safe location.</p>
            </div>

            <div class="form-group backup-target-s3">
                <label for="backup-target-s3-host-select" class="form-label">S3 Region</label>
                <select class="form-control" id="backup-target-s3-host-select">
                    {% for name, host in backup_s3_hosts %}
                    <option value="{{host}}">{{name}}</option>
                    {% endfor %}
                    <option value="other">Other (non AWS)</option>
                </select>
            </div>

            <div class="form-group backup-target-s3">
                <label for="backup-target-s3-host" class="form-label">S3 Host / Endpoint</label>
                <input type="text" placeholder="https://s3.backuphost.com" class="form-control"
                       id="backup-target-s3-host">
            </div>

            <div class="form-group backup-target-s3">
                <label for="backup-target-s3-region-name" class="form-label">S3 Region Name (if required)</label>
                <input type="text" placeholder="region.name" class="form-control" id="backup-target-s3-region-name">
            </div>

            <div class="form-group backup-target-s3">
                <label for="backup-target-s3-path" class="form-label">S3 Bucket &amp; Path</label>
                <input type="text" placeholder="bucket-name/backup-directory" class="form-control"
                       id="backup-target-s3-path">
            </div>

            <div class="form-group backup-target-s3">
                <label for="backup-target-user" class="form-label">S3 Access Key</label>
                <input type="text" class="form-control" id="backup-target-user">
            </div>

            <div class="form-group backup-target-s3">
                <label for="backup-target-pass" class="form-label">S3 Secret Access Key</label>
                <input type="text" class="form-control" id="backup-target-pass">
            </div>

            <!-- Backblaze B2 -->
            <div class="form-group backup-target-b2">
                <p>Backups are stored in a <a href="https://www.backblaze.com/" target="_blank" rel="noreferrer">Backblaze</a>
                    B2 bucket. You must have a Backblaze account.</p>
                <p>Manually copy the encryption password from <tt class="backup-encpassword-file"></tt> to a safe
                    location.</p>
            </div>

            <div class="form-group backup-target-b2">
                <label for="backup-target-b2-user" class="form-label">B2 Application KeyID</label>
                <input type="text" class="form-control" id="backup-target-b2-user">
            </div>

            <div class="form-group backup-target-b2">
                <label for="backup-target-b2-pass" class="form-label">B2 Application Key</label>
                <input type="text" class="form-control" id="backup-target-b2-pass">
            </div>

            <div class="form-group backup-target-b2">
                <label for="backup-target-b2-bucket" class="form-label">B2 Bucket</label>
                <input type="text" class="form-control" id="backup-target-b2-bucket">
            </div>

            <!-- Common retention -->
            <div class="form-group backup-target-local backup-target-rsync backup-target-s3 backup-target-b2">
                <label for="min-age" class="form-label">Retention Days:</label>
                <input type="number" class="form-control" id="min-age">
                <div class="help-text">Minimum time backup data is kept. Incremental backups require previous backups to
                    be preserved, so data may be kept longer. Full backups occur periodically.
                </div>
            </div>

            <div class="form-group">
                <button id="set-s3-backup-button" type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>

        <h3>Available backups</h3>
        <p>The backup location currently contains the backups listed below. Total size: <span
            id="backup-total-size"></span>.</p>

        <div class="table-container">
            <table id="backup-status" class="table">
                <thead>
                    <tr>
                        <th colspan="2">When</th>
                        <th>Type</th>
                        <th>Size</th>
                        <th>Deleted in...</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <style>
        #backup-status th {
            text-align: center;
        }

        #backup-status tr.full-backup td {
            font-weight: bold;
        }
    </style>
    <script type="module" src="/admin/static/js/pages/system-backup.js"></script>

</div>
